fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-huggingface
langchain-openai
pinecone
langchain-pinecone
pypdf
python-docx
pandas
python-dotenv
sqlalchemy
passlib[bcrypt]
pyjwt
bcrypt==3.2.0
psycopg2-binary
